<!-- <app-blockly-editor [blocks]="blocks" /> -->

<!-- SE QUISER VOLTAR A COMO ERA, DESCOMENTE A LINHA ACIMA E COMENTE AS ABAIXO -->
<button class="toggle-menu" (click)="mostrarSidebar = !mostrarSidebar">
    ☰
</button>

<div class="layout">
    <nav class="sidebar" *ngIf="mostrarSidebar">
      <h2>Celia</h2>
      <ul>
        <li><a routerLink="/code" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Code</a></li>
        <li><a routerLink="/run" routerLinkActive="active">Run</a></li>
        <li><a routerLink="/gazebo" routerLinkActive="active">Gazebo</a></li>
      </ul>
    </nav>
  
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
  